apiVersion: apps/v1
kind: Deployment
metadata:
  name: dealer-service
  namespace: scrapzee
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dealer-service
  template:
    metadata:
      labels:
        app: dealer-service
    spec:
      containers:
      - name: dealer-service
        image: sagar1003/scrapzee-dealer-api:v1
        ports:
        - containerPort: 5004
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: scrapzee-db-secrets
              key: dealer-db-url
        - name: AUTH_SERVICE_URL
          value: "http://auth-service.scrapzee.svc.cluster.local"
        - name: USER_SERVICE_URL
          value: "http://user-service.scrapzee.svc.cluster.local"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: dealer-service
  namespace: scrapzee
spec:
  selector:
    app: dealer-service
  ports:
  - port: 80
    targetPort: 5004
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: dealer-service-hpa
  namespace: scrapzee
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dealer-service
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Percent
        value: 50
        periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
      - type: Percent
        value: 100
        periodSeconds: 30
